.nav {
  background-image: linear-gradient(135deg, $cardtitle 0%, $bluegradient1 100%);
  border-radius: 20px;
  width: 94px;
  height: 860px;
  padding: 30px 0;
  text-align: center;
  position: relative;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__logo {
    width: 72px;
    margin: auto;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin: auto;
    padding-top: 13px;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      background-color: $pink;
      border-radius: 25px;
    }
    img {
      margin: auto;
    }
    &--active {
      background-color: $pink;
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }
  &__logout {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: block;
  }
}

@include md {
  .mobile-header {
    display: block;
  }
  .main-nav {
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0px;
    width: 0px;
    transition: all 0.5s;
    width: 100%;
  }
  .nav {
    background-image: linear-gradient(135deg, #2b2ecf 0%, #652bcf 100%);
    border-radius: 20px;
    height: 70px;
    width: 100%;
    padding: 0px 0;
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      display: none;
      height: auto;
    }
    &__icon {
      display: inline-block;
      margin-top: 10px;
    }
    &__logout {
      display: none;
    }
  }
}
