$pageBg: #e7edf6;
$white: #fff;
$pink: #ff0066;
$tagBg: #f6c937;
$cardtitle: #2b2ecf;
$bluegradient1: #652bcf;
$cardext: #7f8a9c;
$primaryfont: "Poppins", sans-serif;
$secondryfont: "Open Sans", sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
